*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head{
    color: rgb(223, 204, 204);
    font-size: 60px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: block; 
    
}

img{
    display: block;
    width: 50%;
}